h1 {
  font-family: "Open Sans";
}

html {
  height: 100vh;
}

body {
  /* padding: 0 0 8% 0; */
  position: relative;
  height: 100%;
}

#content-container {
  padding: 25px 5% 0;
}

span.agile {
  padding: 0;
}
