/* .header-container {
  position: relative !important;
} */

nav {
  padding-bottom: 0 !important;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.nav-link {
  background-color: #d3daef;
  padding: 4px 8px;
  margin: 0 4px;
  border-radius: 6px 6px 0 0;
}

.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #9fb2f7 !important;
  position: relative !important;
}

#sticky-navbar {
  position: sticky !important;
  top: 0;
  z-index: 1000;
  background-color: #a0b2f7;
}

.navbar-nav {
  margin: auto;
}

.nav-link.active {
  background-color: #2753f294 !important;
  color: #fff !important;
}

.navbar-brand {
  padding: 0;
}

.logo-and-title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
}

@media screen and (max-width: 992px) {
  .nav-link {
    margin: 0;
    border-radius: 0;
  }
  .navbar-toggler {
    margin-bottom: 8px;
    margin-left: 8px;
  }
}
