.container {
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    margin-top: 36px;
}
.contactTitle {
    font-size: 2rem;
    text-align: center;
}

.gridContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
}