footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #9FB2F7;
    color: white;
    
}

footer ul {
    width: fit-content;
    text-align: end;
    padding: 12px;
}

footer ul i {
    padding: 8px;
}

.copyright {
    padding: 12px;
    font-size: 0.75em;
}


@media (max-width: 600px) {
    footer ul i{
        padding: 4px;
    }
}
