.officeTitle {
    font-size: 2rem;
    text-align: center;
}

.container,
.textContainer {
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.container {
    margin-bottom: 16px;
}

.text {
    margin: 8px;
}

@media screen and (min-width:768px) {
    .container {
        flex-direction: row;
        justify-content: space-around;
    }

    .mapImage {
        width: 400px;
        height: auto;
    }
    .text {
        font-size: 1.4rem;
        margin: 12px;
    }
}

@media screen and (min-width:1100px) {
    .mapImage {
        width: 500px;
        height: auto;
    }
    
}